.footer-container {
    background: rgb(37, 35, 35);
    padding: 40px 0;
    color: white;
}

.footer-text {
    padding: 20px;
}

.bigger {
    font-size: 22px;
}

.social-icon {
    color: white;
    padding: 0 5px;
    font-size: 18px;
}