.navbar-container {
    display: flex;
    padding: 20px 160px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    background: white;
    border-bottom: 1px solid rgb(160, 155, 155);
    z-index: 999;
    top: 0;
    box-shadow: 1px 4px 6px 1px rgba(0,0,0,.4), 0 4px 12px 0 rgba(0,0,0,.19);
}

.landmarks-container {
    list-style: none;
    display: flex;
}

.list-item {
    padding: 0 20px;
}

.landmark-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.title {
    font-size: 22px;
}

.title-link {
    text-decoration: none;
    color: black;
}

/*TABLET*/
@media(min-width: 685px) and (max-width: 1168px) {
    .navbar-container {
        padding: 20px 50px;
    }
}

/*MOBILE*/
@media(max-width:685px) {
    .navbar-container {
        padding: 20px;
    }
    .title {
        font-size: 18px;
    }
}