.navbar-container {
    display: flex;
    padding: 20px 50px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: brown;
}

.landmarks-container {
    list-style: none;
    display: flex;
}

.list-item {
    padding: 0 10px;
}

.landmark-link {
    text-decoration: none;
    color: black;
}