.main-container {
    display: flex;
    background-color: grey;
    color: white;
    height: 660px;
    justify-content: flex-end;
    flex-direction: column;
}

.text-centered {
    text-align: center;
}

.button-visit-shop {
    font-size: 18px;
    padding: 20px 35px;
    cursor: pointer;
    color: #f9f6f6;
    background-color: #7b3d63;
    margin: 0 0 60px 0;
    border: 2px solid #7b3d63;
}

.button-visit-shop:hover {
    opacity: 80%;
}

.font-size-24 {
    font-size: 42px;
    letter-spacing: 1.1px;
    font-weight: 500;
    padding-bottom: 40px;
}

.intro-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 90px;
    padding: 0 160px 40px 160px;
    margin: 100px 0 60px 0;
    grid-template-areas:
        "left"
        "right";
}

.intro-image {
}

.intro-text {
    font-size: 22px;
    line-height: 32px;
}

.btn-rd-mr-container {
    margin-top: 40px;
    text-align: center;
}

.button-read-more {
    font-size: 16px;
    padding: 20px 35px;
    cursor: pointer;
    border: 1px solid black;
}

.button-read-more:hover {
    opacity: 70%;
}

.link-visit-shop {
    text-decoration: none;
    color: white;
}

.btn-vt-sh-container {
    text-align: center;
}