.main-container {
    display: flex;
    background-color: grey;
    color: white;
    height: 400px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.text-centered {
    text-align: center;
}