.shop-container {
    margin-top: 30px;
    padding: 40px 160px 100px 160px;
}

.shop-filter-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 60px;
}

.shop-filter-element {
    padding: 0 18px;
    border-left: 1px solid rgb(192, 188, 188);
    border-right: 1px solid rgb(192, 188, 188);;
}

.shop-elem-link {
    text-decoration: none;
    color: black;
    font-size: 21px;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    border-top: 1px solid rgb(160, 155, 155);
    padding-top: 40px;
    grid-column-gap: 2vw;
    grid-row-gap: 8vw;
}

.filter-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.8em;
}